.error {
    color: red;
    font-size: 0.8rem;
  }
#survey-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set height to 100% of viewport height */
}
#rcorners {
  border-radius: 25px;
  background: #dfbef8;
  margin: auto;
  margin: 20px 200px 10px 200px;
  padding: 5px 0px 5px 0px;
  
}  
#bg {
  background:#f6EEE3;
}
  /* Add more CSS styles as desired */
#left {
  width: 79%; 
  float:left;
  text-align: right;
}
#right {
  width: 20%;
  float: right;
  text-align: left;
 }

.chatbot-icon button {
  position: fixed;
  bottom: 30px;
  right: 60px;
  background-color: transparent;
  border: none;
  font-size: 60px;
}